/* main app */
:root {
  --marine-blue: hsl(213, 96%, 18%);
  --light-gray: hsl(229, 24%, 87%);
  --cool-gray: hsl(231, 11%, 63%);
  --white: hsl(0, 0%, 100%)
}



.form-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

}

.form-step-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/images/bg-sidebar-mobile.svg");
  width: 100%;
}



.form-step-button {
  width: 2.50rem;
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 100%;
  background-color: transparent;
  border: solid white;
  border-width: thin;
  color: white;
  margin: 2.4rem 0.67rem;
  text-align: center;
  padding-top: 6px;
}

.active {
  background-color: hsl(206, 94%, 60%);
}


.form-input-container {
  background: white;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  position: relative;
  top: -1.5rem;
}

/* Footer  */
.footer-buttons {
  margin-top: 2.5rem;
  position: absolute;
  bottom: 0;
  right: 0rem;
  height: 4rem;
  background-color: white;
  width: 100vw;

}

.forward-button {
  border: none;
  margin: 1.25rem;
  padding: 6px;
  border-radius: 4px;
  background-color: hsl(213,96%,18%);
  color: white;
  font-family: "Ubuntu-Regular";
  position: absolute;
  right: 4px;
  cursor: pointer;
}

.backward-button {
  border: none;
  background-color: transparent;
  color: gray;
  font-family: "Ubuntu-Regular";
  margin: 1rem;
  padding: 6px;
  cursor: pointer;
}

.hide-btn {
  display: none;
}

/* Step header component */

.heading-info {
  margin-bottom: 8px;
  font-size: 32px;
  font-family: "Ubuntu-Bold";
  color: var(--marine-blue);
}

.about-info {
  color: var(--cool-gray);
  font-family: "Ubuntu-Regular";
  font-size: 16px;
}

/* Step one */
.form-field {
  margin: 20px 8px 20px 0px;
  font-family: "Ubuntu-Regular";
}

.form-input {
  width: 100%;
  height: 30px;
  margin-top: 4px;
  border-radius: 4px;
  border: hsl(229, 24%, 87%) solid;
  border-width: thin;
  padding-left: 14px;
  font-family: "Ubuntu-Regular";
}


/* Step Two */

.option-container, .option-container-three {
  max-width: 100%;
  border: Solid hsl(229, 24%, 87%);
  border-radius: 8px;
  border-width: thin;
  margin: 10px 0px; 
  display: flex;
  flex-flow: row;
  /* justify-content: space-around; */
  align-items: center;
  padding: 0.8rem 0.8rem;
  max-width: 320px;
}



.option {
  display: flex;
  font-size: 1rem;
  margin-left: 1rem;
  flex-flow: column wrap;
  font-family: "Ubuntu-Medium";
  color: hsl(213, 96%, 18%);
}

.option > span {
  font-family: "Ubuntu-Regular";
  font-size: 0.7rem;
  color: hsl(231, 11%, 63%);
}

.option > .discount-span{
  font-size: 0.8rem;
  color: var(--marine-blue);
  font-family: "Ubuntu-Medium";
  margin-top: .5rem;
}

.option-container-three > .add-price {
  justify-content: flex-end;
  margin-left: auto;
  color: rgb(3, 3, 254);
  font-weight: 500;
  word-spacing: 1rem;
  font-size: 12px;
}

/* toggle button container */
.interval-toggle {
  border-radius: 10px;
  padding: 0.5rem 3.5rem;
  font-size: 0.9rem;
  background: hsl(206, 60%, 95%);
  display: flex;
  justify-content: space-around;
}

.interval-toggle > span {
  color: hsl(213, 96%, 18%);
  font-family: "Ubuntu-Regular";
}

/* toggle button  */
.switch input {
  display: none;
}

/* Style the slider */
.slider {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 0rem 1rem;
}

/* Style the toggle knob */
.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 0.8rem;
  height: 0.8rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

/* Change background color when the toggle is checked (on) */
.switch input:checked + .slider {
  background-color: #007bff;
}

/* Move the toggle knob to the right when checked (on) */
.switch input:checked + .slider::before {
  transform: translateX(1rem);
}

#button-name, #button-info {
  display: none;
}

.option-container-selected {
  border-color:rgb(28, 5, 208);
  background-color: hsl(208, 93%, 90%);
}
@media screen and (min-width: 860px){
  .form-container {
    flex-flow: row wrap;
    align-items: center;
    background-color: white;
    /* padding: 1rem 0.5rem; */
    border-radius: 12px;
    width: auto;
    margin-top: 4rem;
    height: 580px;
    width: 900px;
  }
  .main-form {
    position: relative;
    min-width: 530px;
    min-height: 387px;
  }
  .form-step-container {
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    width: 274px;
    margin: 0.5rem 0.5rem;
    height: 100%;
    border-radius: 12px;
    padding-top: 2rem;
  }

  .form-input-container {
    padding: 0;
  }
  
  .form-step {
    display: flex;
    margin-right: auto;
    color: var(--cool-gray);
  }
  #button-name {
    font-family: "Ubuntu-Regular";
    margin-top: 1rem;
    display: block;
    font-size: 14px;
  }
  #button-info {
    display: block;
    color: white;
    margin-top: 0.2rem;
    font-family: "Ubuntu-Medium";
    letter-spacing: .05rem;
    font-size: 16px;
  }

  .form-step-button {
    margin: 1rem;
    margin-left: 0rem;
  }

  .footer-buttons {
    width: auto;
    bottom: -2rem;
    display: flex;
    justify-content: center;
  }
  .forward-button {
    margin: 0;
    width: 6rem;
    height: 2.2rem;
    font-size: 1rem;
    right: 1rem;
    
  }
  .backward-button {
    position: absolute;
    left: -31.8rem;
    bottom: 1.2rem;
    font-size: 1rem;
  }
  .option-container {
    padding: 2rem 1rem;
    flex-direction: column;
    justify-content: space-between;
    min-height: 8rem;
    min-width: 8rem;
    margin-left: 1rem;
  }

  .step-two-options {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  .interval-toggle {
    margin-left: 1rem;
  }
  .step-info {
    font-size: 1rem;
  }  


  .option-container:hover{
    border: solid rgb(28, 5, 208);
  }
  .header, .form-field {
    margin-left: 1rem;
  }

  .option-container-three {
    max-width: 100%;
    height: 50px;
    margin-left: 1rem;
  }
  
}